header.img-header {

	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	position: relative;
	/*text-align: center;*/

	div.right {
		float: right;
	}


	div#bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;

	}


}