header.img-header {

	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	position: relative;
	/*text-align: center;*/

	div#right {
		float: right;
		width: 100%
	}


	div#bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
		

	}
	
	#title {
		width: 100%;
		text-align: center;

		//Common config
		span {
			&#sophie {

			}

			&#gestalt {
				font-style: italic;
			}
		}


		//Small screen
		span {
			
			&#sophie {
				font-size: 25px;
			}


			&#gestalt {
				font-size: 20px;
				margin-left: 8px;
			}
		}

		
		//Large screen
		@media (min-width: 768px) {
			span {
				display: block;

				&#sophie {
					font-size: 35px;

				}

				&#gestalt {
					font-size: 26px;
					
					margin-left: 0;
				}
				
				
			}

		}

		


	}

	h2#gestalt {
		font-size: 17px;
	}

	p#tel {
		font-size: 16px;
	}
}